<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/profStyle.css" />
</head>
<body>
        <section id="strip">
            <div class="container">
                <div class="row text-center align-items-center py-4">
                    <% photourl = (user.photo.length > 0) ? user.photo : 'https://clipartart.com/images/clipart-profile-5.png'%>
                    <div class="col-lg"><img src="<%= photourl %>" alt="<%= user.firstName %>" class="img-fluid rounded-circle"></div>
                    <div class="col-lg">
                        <p class="display-5 mt-2">Profile info</p>
                        <div class="list-group list-group-flush text-start">
                            <p class="list-group-item lead mb-1 fw-normal"><span class="fw-bold">First Name: </span> <%= user.firstName %> </li>
                            <p class="list-group-item lead mb-1 fw-normal"><span class="fw-bold">Last Name: </span> <%= user.lastName %> </li>
                            <p class="list-group-item lead mb-1 fw-normal"><span class="fw-bold">Gender: </span> <%= user.gender %> </li>
                            <p class="list-group-item lead mb-1 fw-normal"><span class="fw-bold">Age: </span> <%= user.age %> </li>
                            <p class="list-group-item lead mb-1 fw-normal"><span class="fw-bold">Nationality: </span> <%= user.nationality %> </li>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <button class="btn btn-warning mx-auto mt-2 text-dark" data-bs-toggle="modal" data-bs-target="#myDelModal">Delete Profile</button>

        <div class="modal fade" tabindex="-1" id="myDelModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/profile/<%= user._id %>?_method=delete" method="POST">
                  <div class="modal-body my-2">
                    <input type="password" class="form-control" name="pswd" placeholder="Password" aria-describedby="passwordHelpBlock">
                    <div id="passwordHelpBlock" class="form-text">
                      Ask page admin for the Password.
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                  </div>
                </form> 
              </div>
            </div>
          </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
</body>
</html>